In [11]:
# Load Data
import pandas as pd
readmissions = pd.read_csv("../data/classification/hospital_readmissions.csv")

In [12]:
readmissions["age_decade"] = readmissions["age"].apply(lambda x: int(x[1:3]))
readmissions = readmissions.drop(["age"], axis=1)
readmissions = readmissions.replace("Missing", None)
readmissions = readmissions.drop(["diag_1", "diag_2", "diag_3", "medical_specialty"], axis=1)

In [14]:
readmissions

,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,glucose_test,A1Ctest,change,diabetes_med,readmitted,age_decade
0,8,72,1,18,2,0,0,no,no,no,yes,no,70
1,3,34,2,13,0,0,0,no,no,no,yes,no,70
2,5,45,0,18,0,0,0,no,no,yes,yes,yes,50
3,2,36,0,12,1,0,0,no,no,yes,yes,yes,70
4,1,42,0,7,0,0,0,no,no,no,yes,no,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,14,77,1,30,0,0,0,no,normal,no,no,yes,80
24996,2,66,0,24,0,0,0,no,high,yes,yes,yes,80
24997,5,12,0,6,0,1,0,normal,no,no,no,yes,70
24998,2,61,3,15,0,0,0,no,no,yes,yes,no,70
24999,10,37,1,24,0,0,0,no,no,no,no,yes,50

In [19]:
def high_glucose(row):
    if row["glucose_test"] == "high":
        val = 1
    else:
        val = 0
    return val

def high_A1C(row):
    if row["A1Ctest"] == "high":
        val = 1
    else:
        val = 0
    return val

In [26]:
readmissions["high_glucose"] = readmissions.apply(high_glucose, axis=1)
readmissions["high_A1C"] = readmissions.apply(high_A1C, axis=1)
readmissions = readmissions.drop(["glucose_test", "A1Ctest"], axis=1)
readmissions = readmissions.replace("no", 0).replace("yes", 1)

In [31]:
readmissions.to_csv("../data/classification/readmissions_clean.csv", index=False)